@font-face {
  font-family: GenRyuMinTW;
  src: url(font/GenRyuMinTW-M-01.ttf);
}

body {
  font-family: GenRyuMinTW;
  font-size: 1.5rem;
  background: white;
  line-height: 117%;
}
small{
  font-family: GenRyuMinTW;
  font-size: 0.9rem;
}

.cover-page { page: cover-page; }@page cover-page {
  background-color: white;
  color: black;
  margin-left: 210px;
  margin-top: 150px;
  @top-right { content: none; }
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page {
  size: 276mm 203mm;
  @bottom-right { content: counter(page); display:none}
  @bottom-left {
   //content: "Unerasable Characters I";
   font-size: 1rem;
   width: 40mm
 }
}

 .page-break {
   margin-top: 170px;
   margin-left: 236px;
   break-after: page;
 }


.iteration {
   font-size: 15px;
   color: rgba(0,0,0,.3);
   display:inline;
   float: right;
   margin-top: -130px;
 }

 .content {
  display: block;
}

 .time {
   display: block;
   margin-top:2rem;
   font-size: 15px;
   color: rgba(0,0,0,.6);
 }

@media screen {
  .pagedjs_page {
    background-color: white;
    margin: 5mm; border: solid 1px gray;
  }
}

@media print {
  body {
    margin:0;
  }
  .pagedjs_page {
    background-color: white;
    margin: 0mm;
  }
}
